<div class="px-10 mt-14">
  <h4 class="text-center text-4xl font-bold text-rose-400" data-aos="fade-up" data-aos-duration="1500">Blog</h4>
  <h2 class="text-center text-2xl mb-4" data-aos="fade-down" data-aos-duration="1000">
    Sumérgete en nuestro blog y descubre fascinantes artículos sobre psicología
  </h2>

  <div class="flex flex-col md:flex-row items-center gap-16 mt-4">
    <div class="w-full md:1/2 flex justify-end" data-aos="zoom-in-down" data-aos-duration="1000">
      <img src="mujer-blog.png" class="h-[500px]" alt="" />
    </div>
    <div class="w-full md:1/2" data-aos="zoom-in-down" data-aos-duration="1000">
      <h3 class="text-rose-400 text-3xl">Explora nuestra colección de artículos psicológicos</h3>
      <p class="mt-8 text-2xl">
        Tu bienestar mental importa. <br /> En nuestro blog encontrarás reflexiones, consejos y herramientas psicológicas
        para ayudarte a entenderte mejor. <br />
        <a href="https://sites.google.com/view/centro-jhest/" target="_blank" class="text-blue-500 hover:underline"
          >¡Haz clic aquí y transforma tu perspectiva!</a
        >
      </p>
    </div>
  </div>
</div>
