<div class="bg-orange-50 px-10 my-14 py-14">
  <h4 class="text-center text-4xl font-bold text-rose-400">Separa tu cita</h4>
  <h2 class="text-center text-2xl mb-4">Comentanos sobre ti</h2>

  <div
    class="calendly-inline-widget"
    data-url="https://calendly.com/ok-rm1011/30min"
    style="min-width:320px;height:700px;"
  >
  </div>
  <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
</div>
